@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'HankedGrotesk';
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-display: swap;
}
:root{
    /*Gradients Background*/
    --Lightslateblue: hsl(252, 100%, 67%);
    --Lightroyalblue: hsl(241, 81%, 54%);
    /*Circle*/
    --Violetblue: hsla(256, 72%, 46%, 1);
    --Persianblue: hsla(241, 72%, 46%, 0);
    /*SVG*/
    --Lightred: hsl(0, 100%, 67%);
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Greenteal: hsl(166, 100%, 37%);
    --Cobaltblue: hsl(234, 85%, 45%);
}
body{
    font-family: 'HankedGrotesk', sans-serif;
    font-weight: 700;
    font-size: small;
}
html,body{
    width: 100vw;
    height: 100vh;
}
/*Result Component Division*/
main.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
}
div#result{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
background-image: linear-gradient(to top, var(--Lightroyalblue), var(--Lightslateblue));
border-radius: 0px 0px 30px 30px;
padding: 15px;
padding-top: 30px;
margin: auto;
color: white;
height: 50vh;
width: 100vw;
}
p.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto ;
    text-align: center;
    width: 7rem;
   
    border-radius: 50%;
    background-image: linear-gradient(to top, var(--Lightslateblue),var(--Violetblue));
    aspect-ratio: 1 / 1;
    color: rgb(150, 143, 143);
}

span.data{
    display: block;
    font-size:40px;
    font-weight: 900;
    line-height: 1;
    color: white;
    
}
div.fin{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:5px 5px;
}
div.fin > p{
    padding: 10px;
    font-size: larger;
    padding-top: 25px;
}



h1{
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 30px ;
}
/*Summary Division*/
div#sum{
    padding: 1rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
  
}

div#sum > div{
    display: flex;
    justify-content: space-between;
    border: 0.5px solid rgba(122, 115, 115, 0.123);
    padding-top:  5px;
    padding-left:  5px;
    padding-right:  5px;
    border-radius: 10px;
    background-color: aqua;
    width: 90vw;
    
   
}
div#sum  span{
    height: 40px;
}

span#note{
    font-size: medium;
}
span.size{
    font-size: medium;
}

button{
    text-align: center;
    border-radius: 20px;
    width: 90vw;
    height: 40px;
    color: white;
    background-color:rgb(33, 33, 97);
}
button:hover{
    background-color: black;
}