@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
font-size: 15px;
font-family: 'Inter', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
    /*Colors*/
    /*Primary*/
    --Soft_orange: hsl(35, 77%, 62%);
    --Soft_red: hsl(5, 85%, 63%);

    /*Neutral*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish_blue: hsl(233, 8%, 79%);
    --Dark_grayish_blue: hsl(236, 13%, 42%);
    --Very_dark_blue: hsl(240, 100%, 5%);

}

body,html{
    min-height: 100vh;
    min-width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background: var(--Off-white);
    justify-content: center;
    align-items: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.allContent{
    display: flex;
    flex-direction: column;
    max-width: 1600px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto 1fr;
    margin: auto;
    padding: 5px;
}

.header-content .header-option{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}
.header-content .header-option .h1-data h1{
    font-size: 2rem;
    font-weight: 800;
}

.header-content .header-option .menu-field button span{
    font-size: 2rem;
    font-weight: 800;
}
.header-content .header-option .menu-field button {
    border: none;
}
.puzzle-img{
    width: auto;  
}

.puzzle-img img{
    width: 100%;
    height: 100%;
}
.web-dive{
    display: flex;
    flex-direction: column;
}
.web-future, .readmore-data{
    width: 100%;
    height: 100%;
}
.web-future h2{
    font-size: 3rem;
    font-weight: 800;
}

.readmore-data p{
    font-size: 15px;
    font-weight: 400;
    color: var(--Dark_grayish_blue);
    padding: 15px 15px 15px 0px;
}
.readmore-data button{
    color: var(--Off-white);
    background-color: var(--Soft_red);
    border: none;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.section-data{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--Very_dark_blue);

}
.new-feature{
    width: 100%;
}
.new-feature h2{
    color: var(--Soft_orange);
    padding: 20px;
    font-weight: 800;
    font-size: 2rem;
}
.section-data .cars-comparison,.ai-era,.dry-doubt{
    color: var(--Off-white);
    width: 100%;
    height: 100%;
}

.class-cars, .ai-class, .dry-class{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #FFF;
}

.class-cars, .ai-class, .dry-class > p{
    font-size: 15px;
    color: var(--Grayish_blue);
}
.latest-features{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
}
.pc-upgrade, .top-laptops, .grow-games{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.img-content{
  width: 50%;
  height: 100%;
}
.img-content img{
    width: 100%;
    object-fit: cover;
}
.number-id{
    font-size: 3rem;
    color: var(--Grayish_blue);
    font-weight: 700;
}
.img-data{
    height: 100%;
}
.img-data .pc-data{
    font-size: 1rem;
}
#bigImg{
    display: none;
}


.attribution { 
    font-size: 1rem; 
    text-align: center; 
    font-weight: 700;   
}
.attribution a { 
    color: var(--Grayish_blue);
    text-decoration: none; }
    .attribution a:hover {
        color: var(--Soft_red);
    }
.menu-container {
    display: flex;
    align-items: center;
  }
  
  .menu-field {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 5;
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .close-btn{
    align-self: flex-end;
  }
  
  .menu-icon,
  .close-btn {
    display: block;
    font-size: 2rem;
    font-weight: 800;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .menu-icon:hover,
  .close-btn:hover {
    color: var(--Soft_red);
  }
  
  .menu-field div {
    display: flex;
    flex-direction: column;
   padding: 10px;
    border: 0.5px solid rgb(75, 72, 72);
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .menu-field a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.1rem;

  }
  .alternative-sorry{
    display: none;
  }
  @media (min-width: 577px) {
    
    .menu-icon,
    .close-btn {
      display: none;
    }
    
    .menu-container{
        display: none;
    }
    .header-content .header-option{
        justify-content: space-between;
        align-items: center;

        .alternative-sorry{
            display: flex;
            justify-self: flex-end;
            justify-content: space-around;
            width: 40%;
        }
        .alternative-sorry a{
            text-decoration: none;
            color: black;
            font-size: 1.1rem;
            font-weight: 700;
        }
        .menu-field a:hover{
            color: var(--Soft_red);
        }
    }

    .grid-container{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto 1fr auto;
        gap: 10;
    }
    .puzzle-img{
        grid-column: 1/span 2;
        max-height: 500px;
    }

    .section-data{
        grid-row: 1/ span 2;
        grid-column: 3/ span 3;
    }

    .web-dive{
        grid-column: 1/ span 2;
        flex-direction: row;
    }
    .readmoreBtn:hover{
        background-color: hsl(5, 32%, 43%);
    }
    .latest-features{
        grid-column: 1/ span 3;
    }


    .header-option button{
        display: none;
    }
    .header-content{
        width: 100%;
        height: 50px;
    }
    .latest-features{
        flex-direction: row;
    }
    .latest-features h4:hover{
        color: var(--Soft_red);
        cursor: pointer;
    }
} 